{% extends "::base.html.twig"%}

{% block header %}
    {% include 'GestorFrontBundle:Default:navbar.html.twig' %}
{% endblock %}

  {% block menu %}
    {% include 'GestorFrontBundle:Default:menu.html.twig' %}
  {% endblock %}  

{% block contenido %}
  <!-- Modal luz-->
<div class="modal fade" id="luz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gastos de Luz</h3>
      </div>
      <div class="modal-body">
        <img class="center-block" src="{{asset('bundles/framework/images/luz.png')}}" alt="luz">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal agua-->
<div class="modal fade" id="agua" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gastos de Agua</h3>
      </div>
      <div class="modal-body">
       <img class="center-block" src="{{asset('bundles/framework/images/agua.png')}}" alt="agua">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal proveedores-->
<div class="modal fade" id="proveedores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gastos de Proveedores</h3>
      </div>
      <div class="modal-body">
        <img class="center-block" src="{{asset('bundles/framework/images/proveedores.png')}}" alt="proveedores">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal gráfica 2016-->
<div class="modal fade" id="grafica16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gráfica 2016</h3>
      </div>
      <div class="modal-body">
         <img class="center-block" src="{{asset('bundles/framework/images/graficab.png')}}" alt="grafica">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal gráfica 2015-->
<div class="modal fade" id="grafica15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gráfica 2015</h3>
      </div>
      <div class="modal-body">
         <img class="center-block" src="{{asset('bundles/framework/images/graficab.png')}}" alt="grafica">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal gráfica 2014-->
<div class="modal fade" id="grafica14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gráfica 2014</h3>
      </div>
      <div class="modal-body">
         <img class="center-block" src="{{asset('bundles/framework/images/graficab.png')}}" alt="grafica">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal gráfica 2013-->
<div class="modal fade" id="grafica13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Gráfica 2013</h3>
      </div>
      <div class="modal-body">
         <img class="center-block" src="{{asset('bundles/framework/images/graficab.png')}}" alt="grafica">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal calendario clases-->
<div class="modal fade" id="calendario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center" id="myModalLabel">Calendario de Clases</h3>
      </div>
      <div class="modal-body">
        <img class="center-block" src="{{asset('bundles/framework/images/calendarioclases.jpg')}}" alt="calendario">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal clientes-->
<div class="modal fade" id="clientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"  style="text-align:center" id="myModalLabel">Clientes</h3>
      </div>
      <div class="modal-body">
        <img class="center-block" src="{{asset('bundles/framework/images/LClientes.gif')}}" alt="clientes">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- Modal empleados-->
<div class="modal fade" id="empleados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"  style="text-align:center" id="myModalLabel">Empleados</h3>
      </div>
      <div class="modal-body">
        <img class="center-block" src="{{asset('bundles/framework/images/LClientes.gif')}}" alt="empleados">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
</form>
</body>
{% endblock %}  
 
