<!DOCTYPE html>
<html>
    <head>
            <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
            <body background="{{ asset('images/pizarra2.jpg') }}" class="mifondo">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
             <meta charset="UTF-8"/>
            <script src="{{ asset('js/jquery-2.2.0.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            
     </head>
         <body background="{{ asset('bundles/framework/images/pizarra2.jpg') }}" class="mifondo">
        
         {% block contenido %}
          
        {% endblock %}

    </body>
</html>
