<!DOCTYPE html>
<html>
<head>
  <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <meta charset="UTF-8"/>
  <script src="{{ asset('js/jquery-2.2.0.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('js/app.js') }}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

  {% if datos is defined %}
    {% include 'FrontEndBundle:Widgets:navCabecera.html.twig' %}
  {% else %}
  {% endif %}

 {% block contenido %}
 {% endblock %}

 <div class="spinner" 
      style="position:absolute;display:none;margin-left:25%;margin-top:25%;">
      <img src="{{asset('images/carga.gif')}}">
  </div>

</body>
</html>
