      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-weight: bold; text-align: center">GASTOS INESPERADOS</h3>
        </div>
        <div class="panel-body" style="padding-top:39px; height:263px; font-weight: bold; text-align: center">
          <div  class="col-xs-2" style="font-size: 100px; padding-left:5%; color:red; font-weight: bold">{{ luz }}</div>
          <div class="col-xs-1"><a id="enlaceSpinner" href="/gestor/web/app_dev.php/luz"><img src="{{asset('images/bombilla1.png')}}" style="padding-top:30px; margin-left:-190%" alt="luz"></a></div>
          <div   class="col-xs-2"style="font-size: 100px; padding-left:9%; color:red; font-weight: bold">{{ proveedor }}</div>
          <div class="col-xs-1"><a id="enlaceSpinner" href="/gestor/web/app_dev.php/proveedores"><img src="{{asset('images/servicios1.png')}}" style="padding-top:32px; padding-left:50px" alt="servicios"></a></div>
          <div  class="col-xs-2" style="font-size: 100px; padding-left:25%; color:red; font-weight: bold">{{ agua }}</div>
          <div class="col-xs-1"><a id="enlaceSpinner" href="/gestor/web/app_dev.php/agua"><img src="{{asset('images/gota1.png')}}" style="padding-left:20px; padding-top:32px" alt="agua"></a></div>
        </div>
      </div>