{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form  method="POST">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/gestor/web/app_dev.php/principal">GtrGYM</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/gestor/web/app_dev.php/empleado">Empleados <span class="sr-only">(current)</span></a></li>
            <li><a href="/gestor/web/app_dev.php/clientes">Clientes <span class="sr-only">(current)</span></a></li>
            <li><a href="/gestor/web/app_dev.php/horario">Horario de clases</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gastos Externos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/gestor/web/app_dev.php/luz"><img src="{{asset('images/bombilla2.png')}}" alt="luz"> Luz</a>
                </li>
                <li>
                  <a href="/gestor/web/app_dev.php/agua"><img src="{{asset('images/gota2.png')}}" alt="agua"> Agua</a>
                </li>
                <li>
                  <a href="/gestor/web/app_dev.php/proveedores"><img src="{{asset('images/servicios2.png')}}" alt="proveedores"> Proveedores</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Histórico <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2016
                  </a>
                </li>
                <li>
                  <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2015
                  </a>
                </li>
                <li>
                  <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2014
                  </a>
                </li>
                <li>
                  <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2013
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><img src="{{asset('images/usuario1.png')}}" alt="yo!" style="padding:7px" class="rounded-circle"/></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{path ('front', {'slug':'logout'})}}">Salir  <img src="{{asset('images/salir.png')}}" alt="salir"></a></li>
                <li><a href="/gestor/web/app_dev.php/perfil">Perfil  <img src="{{asset('images/perfil.png')}}" alt="perfil"></a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <row class="col-xs-12">
      {% include 'FrontEndBundle:Widgets:WidgetTableHorario.html.twig' with {
        'cabeceras': datos.tablaClase.cabeceras,
        'filas': datos.tablaClase.filas} %}
  </row>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tablaClase').DataTable({
      "language": {
        "url" : "{{asset('js/DataTableSpanish.json')}}"
      }
    });
  });
</script>
</body>
{% endblock %}  

