{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
<form method="POST">
  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/gestor/web/app_dev.php/principal">GtrGYM</a>
          </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/gestor/web/app_dev.php/empleado">Empleados <span class="sr-only">(current)</span></a></li>
            <li><a href="/gestor/web/app_dev.php/clientes">Clientes <span class="sr-only">(current)</span></a></li>
            <li><a href="/gestor/web/app_dev.php/horario">Horario de clases</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gastos Externos <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/gestor/web/app_dev.php/luz"><img src="{{asset('images/bombilla.png')}}" alt="luz"> Luz</a>
              </li>
              <li>
                <a href="/gestor/web/app_dev.php/agua"><img src="{{asset('images/gota.png')}}" alt="agua"> Agua</a>
              </li>
              <li>
                <a href="/gestor/web/app_dev.php/proveedores"><img src="{{asset('images/servicios.png')}}" alt="proveedores"> Proveedores</a>
              </li>
            </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Histórico <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2016
                </a>
              </li>
              <li>
                <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2015
                </a>
              </li>
              <li>
                <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2014
                </a>
              </li>
              <li>
                <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2013
                </a>
              </li>
            </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><img src="{{asset('images/usuario1.png')}}" alt="yo!" style="padding:7px" class="rounded-circle"/></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a href="{{path ('front', {'slug':'logout'})}}">Salir  <img src="{{asset('images/salir.png')}}" alt="salir"></a></li>
              <li><a href="/gestor/web/app_dev.php/perfil">Perfil  <img src="{{asset('images/perfil.png')}}" alt="perfil"></a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
<row class="col-xs-12" style="text-align:center">
  <div class="col-xs-12"style="padding-top:5%">
    <input type="hidden" name="perfil" value="perfil">
    <h2>DATOS DE USUARIO</h2>
      <img src="{{asset('images/usuario2.png')}}" alt="yo!" style="padding:7px" class="rounded-circle"/>
      {% for usuario in datos.usuario %}
      <h3>NOMBRE DE USUARIO</h3>
        <div class="col-xs-3" style="margin-left:37%">
          <input id="input" type="text" class="form-control" style="text-align:center" placeholder="Nombre de Usuario" aria-describedby="basic-addon1"  name="nombre" value="{{ usuario.nombre }}" disabled>
        </div>
        <br>
      <h3>CORREO ELECTRÓNICO</h3>
        <div class="col-xs-3" style="margin-left:37%">
          <input id="input" type="text" class="form-control" style="text-align:center" placeholder="Correo Electrónico" aria-describedby="basic-addon1" name="correo" value="{{ usuario.correo }}" disabled>
        </div>
        <br>
      <h3>EMPRESA</h3>
        <div class="col-xs-3" style="margin-left:37%">
          <input  id="input"type="text" class="form-control" style="text-align:center" placeholder="Empresa" aria-describedby="basic-addon1"  name="empresa" value="{{ usuario.empresa }}" disabled>
        </div>
        <br>
      <h3>DIRECCIÓN</h3>
       <div class="col-xs-3" style="margin-left:37%">
          <input id="input" type="text" class="form-control" style="text-align:center" placeholder="Dirección" aria-describedby="basic-addon1" name="direccion" value="{{ usuario.direccion }}" disabled>
        </div>
        <br>
      <h3>CÓDIGO POSTAL</h3>
        <div class="col-xs-3" style="margin-left:37%">
          <input id="input" type="text" class="form-control" style="text-align:center" placeholder="Código Postal" aria-describedby="basic-addon1" name="codigoPostal" value="{{ usuario.codigoPostal }}" disabled>
        </div>
        <br>
      <h3>CIUDAD</h3>
        <div class="col-xs-3" style="margin-left:37%">
          <input id="input" type="text" class="form-control" style="text-align:center" placeholder="Ciudad" aria-describedby="basic-addon1"  name="ciudad" value="{{ usuario.ciudad }}" disabled>
        </div>
      {% endfor %}
  </div>
  <div class="col-xs-3" style="margin-left:37%; padding-top:2%">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button id="editar" type="button" class="btn btn-default" style ="color:black; font-weight: bold">EDITAR</button>
      </div>
    </div>
  </div>
  <div class="col-xs-3" style="margin-left:37%; padding-top:2%">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div  id="editarPerfil" style="display: none;">
        <button type="submit" class="btn btn-default" style ="color:black; font-weight: bold">GUARDAR</button>
      </div>
    </div>
  </div>
  </row>
</form>
</body>
{% endblock %}  
 
