{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
<form method="POST">
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">GtrGYM</a>
    </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/gestor/web/app_dev.php/empleado">Empleados <span class="sr-only">(current)</span></a></li>
        <li><a href="/gestor/web/app_dev.php/clientes">Clientes <span class="sr-only">(current)</span></a></li>
        <li><a href="/gestor/web/app_dev.php/horario">Horario de clases</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gastos Externos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/gestor/web/app_dev.php/luz"><img src="{{asset('images/bombilla.png')}}" alt="luz"> Luz</a>
            </li>
            <li>
              <a href="/gestor/web/app_dev.php/agua"><img src="{{asset('images/gota.png')}}" alt="agua"> Agua</a>
            </li>
            <li>
              <a href="/gestor/web/app_dev.php/proveedores"><img src="{{asset('images/servicios.png')}}" alt="proveedores"> Proveedores</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Histórico <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2016
              </a>
            </li>
             <li>
              <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2015
              </a>
            </li>
             <li>
              <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2014
              </a>
            </li>
             <li>
              <a href="#"> <img src="{{asset('images/grafica.png')}}" alt="gráfica2015"> Gráfica 2013
              </a>
            </li>
           </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img src="{{asset('images/yo3.jpg')}}" alt="yo!" style="padding:7px" class="rounded-circle"/></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path ('front', {'slug':'logout'})}}">Salir  <img src="{{asset('images/salir.png')}}" alt="salir"></a></li>
            <li><a href="#">Perfil  <img src="{{asset('images/perfil.png')}}" alt="perfil"></a></li>
           </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
 <row class="col-xs-12">
  <div class="col-xs-6">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation"><a style ="color:black; font-weight: bold" href="#empleadosDia" aria-controls="empleadosDia" role="tab" data-toggle="tab">EMPLEADOS DEL DÍA</a></li>
        <li role="presentation"><a style ="color:black; font-weight: bold" href="#clientesNuevos" aria-controls="clientesNuevos" role="tab" data-toggle="tab">NUEVOS CLIENTES</a></li>
        <li role="presentation"><a style ="color:black; font-weight: bold" href="#clasesDia" aria-controls="clasesDia" role="tab" data-toggle="tab">CLASES DEL DÍA</a></li>
      </ul>
     <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="empleadosDia">
          <div class="panel panel-info">
      <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: center; font-weight: bold">EMPLEADOS DEL DÍA
            </div>
      <!-- Table -->
            <div class="table-responsive" style="max-with">
              <table class="table" style="text-align: center">
                <tr>
                  <th style="text-align: center">NOMBRE</th>
                  <th style="text-align: center">APELLIDOS</th>
                  <th style="text-align: center">FUNCIÓN</th>
                </tr>
              {% for datos in tablaEmpleados %}
                <tr>
                  <td>{{ datos.Nombre }}</td>
                  <td>{{ datos.Apellidos }}</td>
                  <td>{{ datos.Función }}</td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="clientesNuevos">
          <div class="panel panel-success">
      <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: center; font-weight: bold">NUEVOS CLIENTES DEL DÍA
            </div>
      <!-- Table -->
          <div class="table-responsive">
              <table class="table" style="text-align: center">
                <tr>
                  <th style="text-align: center">NOMBRE</th>
                  <th style="text-align: center">APELLIDOS</th>
                  <th style="text-align: center">TELÉFONO</th>
                  <th style="text-align: center">DIRECCIÓN</th>
                  <th style="text-align: center">DNI</th>
                </tr>
                {% for datos in tablaUsuarios %}
                <tr>
                  <td>{{ datos.Nombre }}</td>
                  <td>{{ datos.Apellidos }}</td>
                  <td>{{ datos.Teléfono }}</td>
                  <td>{{ datos.Dirección }}</td>
                  <td>{{ datos.DNI }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="clasesDia">
          <div class="panel panel-danger">
      <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: center; font-weight: bold">CLASES DEL DÍA
            </div>
      <!-- Table -->
            <div class="table-responsive">
              <table class="table" style="text-align: center">
                <tr>
                  <th style="text-align: center">HORA</th>
                  <th style="text-align: center">CLASE</th>
                  <th style="text-align: center">PROFESOR/A</th>
                </tr>
                {% for datos in tablaClases %}
                <tr>
                  <td>{{ datos.Hora }}</td>
                  <td>{{ datos.Clase }}</td>
                  <td>{{ datos.Profesor }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-weight: bold; text-align: center">ESTADÍSTICAS</h3>
      </div>
        <div class="panel-body" style="padding-top:30px; font-weight: bold; text-align: center">
          <div class="col-xs-3" style="font-weight: bold; margin-left:5%"><img src="{{asset('images/porcentaje4.png')}}" alt="porcenGastos" />GASTOS TOTALES</div>
          <div class="col-xs-3" style="font-weight: bold; margin-left:7%"><img src="{{asset('images/porcentaje3.png')}}" alt="porcenClient" />BENEDICIOS TOTALES</div>
          <div class="col-xs-3" style="font-weight: bold; margin-left:7%"><img src="{{asset('images/porcentaje3.png')}}" alt="porcenClient" />CLIENTES NUEVOS</div>
        </div>
    </div>
  </div>
  </row>
  <row>
  <div class="col-xs-6" style="padding-top:15%">
    <div class="panel panel-danger">
  <!-- Default panel contents -->
      <div class="panel-heading" style="text-align: center; font-weight: bold">GASTOS INESPERADOS</div>

  <!-- Table -->
      <table class="table" style="text-align: center">
        <tr>
          <th style="text-align: center"><a style ="color:black" href="/gestor/web/app_dev.php/luz">LUZ</a></th>
          <th style="text-align: center"><a style ="color:black" href="/gestor/web/app_dev.php/proveedores">PROVEEDORES</a></th>
          <th style="text-align: center"><a style ="color:black" href="/gestor/web/app_dev.php/agua">AGUA</a></th>
        </tr>
        <tr>
          <td style="color:red; font-weight: bold">{{ inesperadoLuz }}</td>
          <td style="color:red; font-weight: bold">{{ inesperadoProveedor }}</td>
          <td style="color:red; font-weight: bold">{{ inesperadoAgua }}</td>
         </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-6" style="padding-top:15%">
    <div class="panel panel-info">
  <!-- Default panel contents -->
      <div class="panel-heading" style="text-align: center; font-weight: bold">GRÁFICA 2017</div>
        <img style="margin-left: 18%; margin-top:20px"src="{{asset('images/graficab.png')}}" alt="porcenGastos" />
    </div>
  </div>
 </row>
</form>
</body>
{% endblock %}  
 
